In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

c:\Users\ayush\OneDrive\Documents\ANN Classification Model\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100298.5000 - mae: 100298.5000 - val_loss: 98498.7500 - val_mae: 98498.7500
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99481.3750 - mae: 99481.3750 - val_loss: 96909.9062 - val_mae: 96909.9062
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 97392.7344 - mae: 97392.7344 - val_loss: 92895.2812 - val_mae: 92895.2812
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 94349.1406 - mae: 94349.1406 - val_loss: 86268.7422 - val_mae: 86268.7422
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 85346.1797 - mae: 85346.1797 - val_loss: 77733.0234 - val_mae: 77733.0234
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 77939.9688 - mae: 77939.9688 - val_loss: 68913.8906 - val_mae: 68913.8906
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 68493.0391 - mae: 68493.0391 - val_loss: 61196.7188 - val_mae: 61196.7188
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59886.4062 - mae: 59886.4062 - val_loss: 55823.2617 - val_mae: 55823.2617
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 55287.5664 - mae: 55287.5664 - val_loss: 52777.5156 - val_mae: 52777.5156
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 52361.1797 - mae: 52361.1797 - val_loss: 51439.5195 - val_mae: 51439.5195
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50978.5625 - mae: 50978.5625 - val_loss: 50993.7852 - val_mae: 50993.7852
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50147.9375 - mae: 50147.9375 - val_loss: 50848.9297 - val_mae: 50848.9297
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50405.5195 - mae: 50405.5195 - val_loss: 50777.4844 - val_mae: 50777.4844
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50074.4023 - mae: 50074.4023 - val_loss: 50723.2930 - val_mae: 50723.2930
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50007.1250 - mae: 50007.1250 - val_loss: 50682.6055 - val_mae: 50682.6055
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50855.3594 - mae: 50855.3594 - val_loss: 50636.0312 - val_mae: 50636.0312
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50271.9648 - mae: 50271.9648 - val_loss: 50603.4961 - val_mae: 50603.4961
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50114.7812 - mae: 50114.7812 - val_loss: 50565.7031 - val_mae: 50565.7031
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50376.7266 - mae: 50376.7266 - val_loss: 50541.0430 - val_mae: 50541.0430
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50106.0117 - mae: 50106.0117 - val_loss: 50507.6016 - val_mae: 50507.6016
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50424.9453 - mae: 50424.9453 - val_loss: 50489.6406 - val_mae: 50489.6406
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49980.8242 - mae: 49980.8242 - val_loss: 50459.9805 - val_mae: 50459.9805
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49577.5078 - mae: 49577.5078 - val_loss: 50452.0703 - val_mae: 50452.0703
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50073.7227 - mae: 50073.7227 - val_loss: 50424.5742 - val_mae: 50424.5742
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49710.6328 - mae: 49710.6328 - val_loss: 50417.6484 - val_mae: 50417.6484
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49534.6836 - mae: 49534.6836 - val_loss: 50401.5391 - val_mae: 50401.5391
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49399.3672 - mae: 49399.3672 - val_loss: 50385.8828 - val_mae: 50385.8828
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49765.2383 - mae: 49765.2383 - val_loss: 50372.5625 - val_mae: 50372.5625
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49389.8477 - mae: 49389.8477 - val_loss: 50368.4141 - val_mae: 50368.4141
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50053.7539 - mae: 50053.7539 - val_loss: 50364.1133 - val_mae: 50364.1133
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49750.9414 - mae: 49750.9414 - val_loss: 50366.9414 - val_mae: 50366.9414
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49238.1094 - mae: 49238.1094 - val_loss: 50344.4961 - val_mae: 50344.4961
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49340.7578 - mae: 49340.7578 - val_loss: 50344.8672 - val_mae: 50344.8672
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49931.0391 - mae: 49931.0391 - val_loss: 50350.2617 - val_mae: 50350.2617
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49963.8672 - mae: 49963.8672 - val_loss: 50338.6797 - val_mae: 50338.6797
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49890.1016 - mae: 49890.1016 - val_loss: 50334.0312 - val_mae: 50334.0312
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49732.4336 - mae: 49732.4336 - val_loss: 50328.9141 - val_mae: 50328.9141
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49242.8906 - mae: 49242.8906 - val_loss: 50324.6602 - val_mae: 50324.6602
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49459.2812 - mae: 49459.2812 - val_loss: 50309.6367 - val_mae: 50309.6367
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49970.4766 - mae: 49970.4766 - val_loss: 50314.6641 - val_mae: 50314.6641
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50203.3672 - mae: 50203.3672 - val_loss: 50323.7773 - val_mae: 50323.7773
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49058.3125 - mae: 49058.3125 - val_loss: 50324.5586 - val_mae: 50324.5586
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49573.6875 - mae: 49573.6875 - val_loss: 50322.1836 - val_mae: 50322.1836
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49031.7148 - mae: 49031.7148 - val_loss: 50320.8984 - val_mae: 50320.8984
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49827.2070 - mae: 49827.2070 - val_loss: 50327.5586 - val_mae: 50327.5586
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - loss: 49309.0430 - mae: 49309.0430 - val_loss: 50323.0898 - val_mae: 50323.0898
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49606.9609 - mae: 49606.9609 - val_loss: 50324.8086 - val_mae: 50324.8086
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49568.0469 - mae: 49568.0469 - val_loss: 50324.0195 - val_mae: 50324.0195
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49771.5898 - mae: 49771.5898 - val_loss: 50333.3008 - val_mae: 50333.3008

In [20]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [ ]:
%tensorboard --logdir regressionlogs/fit --port 6007
# tasklist | findstr tensorboard
# taskkill /IM tensorboard.exe /F

In [23]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 51062.2617 - mae: 51062.2617
Test MAE : 50307.33984375

In [24]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.